@mixin flex-box($just: flex-start, $align: flex-start, $dir: row){
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
}

@mixin circular-figure($face: 40px, $is-square: "false") {
    width: $face;
    height: $face;

    @if #{$is-square} == "false" {
        border-radius: 50%;
    }

    overflow: hidden;
 
}