@use "../abstracts/mixins";

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 20;
  padding-inline: 10px;
  box-shadow: 0 0 5px #000;
  background-color: rgba($color: #000000, $alpha: 0.8);
  @include mixins.flex-box(space-between, center);

  & > a:first-of-type {
    @include mixins.flex-box(flex-start, center, row);
    color: #fff;
    span {
      margin-inline: 5px;
    }
    figure {
      @include mixins.circular-figure();
    }
  }
  nav {
    ul {
      display: flex;
      li {
        margin-inline: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
}
