@use "../abstracts/mixins";

.dashboard-main {
    flex-direction: column;
    &__welcome-section {
        @include mixins.flex-box(flex-start, flex-start, column);
        padding: 10px;
        h1 {
            font-size: 30px;
            margin-block: 10px;
        }

    }

    &__actions-section {
        @include mixins.flex-box(flex-start,flex-start, column);
        & > section {
            @include mixins.flex-box(space-between,center, row);   
        }
    }

}